div class="clima-container">
  <div class="card">

    @if (dadosClima()){
      <app-nome-cidade>{{ dadosClima()?.name}}</app-nome-cidade>

      <app-temperatura>
        {{ dadosClima()?.main?.temp | number: '1.0-0' }}°C
      </app-temperatura>

      <app-img-titulo [clima]="dadosClima()!.weather[0]"></app-img-titulo>
      
      <app-temperatura-min-max [main]="dadosClima()!.main"></app-temperatura-min-max>
      
      <app-button (onClick)="navegarParaTelaDePesquisa()">Pesquisar</app-button>
  

    } @else {
      <app-carregando [mensagem]="mensagemCarregando"></app-carregando>
    }

  </div>
</div>