<div class="clima-container">

  <div class="card">
    @if (dadosClima()) {
      <app-nome-cidade>
        {{ dadosClima()?.name}}
      </app-nome-cidade>

      <app-temp-cidade>
        {{ dadosClima()?.main?.temp | number: '1.0-0' }}°C
      </app-temp-cidade>

      <app-img-titulo [clima]="dadosClima()!.weather[0]">
      </app-img-titulo>

      <app-temp-minmax [main]="dadosClima()!.main">
      </app-temp-minmax>

      <ng-content></ng-content>
    } @else {
      <app-loading [mensagem]="mensagemCarregando"></app-loading>
    }
  </div>

</div>
