:host {
    button {
      border: none;
      padding: 16px 32px;
      border-radius: 50px;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      background: linear-gradient(135deg, #f9ed69, #f08a5d);
    }
}