:host {
    position: fixed;
    inset: 0;
    display: block;

    app-clima-container {
        
        input {
            margin-top: 20px;
            padding: 12px 16px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }
    }
}